.login-page-bg {
    background-image: url(/assets/images/uploads/slider-bg2.jpg);
}
.bg-white {
    background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;
}
.dark\:text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity)) !important;
}
.dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity)) !important;
}
.dark\:hover\:bg-white:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
.dark\:focus\:ring-indigo-600:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: #dd003f !important;
}
.dark\:focus\:border-indigo-600:focus {
    --tw-border-opacity: 1;
    border-color: #dd003f !important;
}
.dark\:border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity)) !important;
}
.dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity)) !important;
}
.dark\:focus\:ring-offset-gray-800:focus {
    --tw-ring-offset-color: #1f2937 !important;
}
.bg-gray-800 {
    background-color: white !important;
}
.text-white {
    color: unset !important;
}
.focus\:ring-indigo-500:focus {
    --tw-ring-color: #dd003f !important;
}
